server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: user-service-dev:8081
          predicates:
            - Path=/api/users/**,/api/auth/**
          filters:
            - StripPrefix=0

        - id: product-service
          uri: http://product-service-dev:8082
          predicates:
            - Path=/api/products/**

        - id: order-service
          uri: http://order-service-dev:8084
          predicates:
            - Path=/api/order/**

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    com.tecsup.app.micro: DEBUG