spring:
  cloud:
    gateway:
      globalcors:
        add-to-simple-url-handler-mapping: true
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:5173"
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true

      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials RETAIN_FIRST

      routes:
        - id: user-service
          uri: http://user-service-dev:8081
          predicates:
            - Path=/api/users/**, /api/auth/**
          filters:
            - StripPrefix=0

        - id: product-service
          uri: http://product-service-dev:8082
          predicates:
            - Path=/api/products/**
          filters:
            - StripPrefix=0

        - id: order-service
          uri: http://order-service-dev:8084
          predicates:
            - Path=/api/orders/**
          filters:
            - StripPrefix=0