spring:
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://user-service-dev:8081
          predicates:
            - Path=/api/users/**
          filters:
            - StripPrefix=0

        - id: product-service
          uri: http://product-service-dev:8082
          predicates:
            - Path=/api/products/**
          filters:
            - StripPrefix=0

        - id: order-service
          uri: http://order-service-dev:8084
          predicates:
            - Path=/api/orders/**
          filters:
            - StripPrefix=0
